#my_body{
    width: 768px;
     text-align: center;
     margin-left: 0em;
     
 
}
/* header*/
header{
     
    width: auto;
     
    
     
    
}
/*navbar*/
nav{
    width: 97%;
    height: 70%;
    margin-left: 0em;
    display: flex;
    
     
    
  
}
 
#logo{
    display: block;
    margin-left: 10em;
     
     
  
}
 #logo img{
      
      
     margin-left: 9.5em;
     margin-top: -1em;
  
} 
 
  #logo ul{
     position: absolute;
     margin-top: 2.9em;
     margin-left: -19em;
     width: 40%;
     
     
     
     
   
  
 } 
 ul li {
     width: 130%;
     margin-left: -0.9em;
     
     
     
    
      
     
 }
 nav li a:hover{
        color: #0065FC;
        border-top: none;
        padding-top: 15px;
         
         
     
 }
  
nav li a:hover{
    color: #0065FC;
    border-bottom: 3px solid;
     
    border-color: #0065FC;
    
    
   
   
}
 li a{
    border-bottom: 3px  solid #F2F2F2;
     
     
      
    
       
 }
  
 ul li a{
     
    position: relative;
      
   
     
 }
  .souligner{
    padding: 2em;
    
   
     
    
    
  }

  
 
 
 
#nav_title{
    width: auto;
    margin-top: 5em;
    position: relative;
    margin-right: 8em;
     
  
}
  
#nav_title h2{
    width: 95%;
    font-size: 39px;
    margin-left: 2em; 
    text-align: left; 
    margin-top: 1.6em;
  
}
#nav_title p{
    font-size: 18px;
    width: 100%;
    margin-left: 4.6em;
    margin-top: 11em;
    position: absolute;
    font-weight: 400;
  
}
 /* la de la géolocalisation*/
 form{
    width:85%;
    height: 27em;
    margin-top: 0em;
    margin-right: 4em;
     
     
   
     
      
    
 }
 
  
 #label{
    margin-right: 20em;
    margin-top: -0.1em;
    width: 79%;
    height: 109%;
    text-align: center;
    font-size: 20px;
    position: relative;
    
  
 }
  
 .localisation{
    width:  7%;
    height: 47px;
    margin-right: 18em;
    margin-top: 4em;
    border: 2px solid #F2F2F2;
    border-radius: 10px 1px 1px 10px;
    background-color: #F2F2F2;
    
    
     
   
 }
 .fa-location-dot{
    height: 45px;
    margin-top: 0em;
    margin-right: 2em;
    background-color: #F2F2F2;
    position: relative;
     
    
 }
 .fa-location-dot::before{
    margin-left: 0.3em;
    position: absolute;
    
 }
  
 .recherche{
    border-radius: 10px 50px 50px 10px;
    padding-right: 8px;
    display: none;  
     
   
 }
 .recherch{
    border: none;
    padding-left: 1.9em;
    margin-top: -2.5em;
    display:inherit ;
   
        
          
 }
 .recherch i{
    width: 8%;
    height: 47.9px;
    padding-top: 1.1em;
    margin-top: -0.5em;
    background-color: #0000ff;
    border-radius: 10px 10px 10px 10px;
    color: white;
    position: absolute;
    margin-left: 5em;
       
 }
 .recherch i::before{
     position:absolute;
     margin-left: -0.5em;
     margin-top: -0.2em;
    
 }

 .filtrer{
    position: relative;
     
 } 
  
 #id_filtre{
    position: absolute;
    width: 57px;
    height: 25px;
    font-size: 16px;
    margin-top: -1em;
    margin-left: -9.7em;
     
   
 }
  
 .filtre-economique{
    display: flex;
    position:relative;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin-top: 30px;
    margin-right: 20em;
     
  
 }
  
 .fa-money-bill-wave{
    position: absolute;
    margin-left: -2.9em;
    width: 19em;
    height: 3.8em;
    border-width: 2px 4px;
    border-radius: 40px 40px 40px 40px;
   
     
 } 
 .fa-money-bill-wave::before{
    margin-left:-4.7em ;
    margin-top: -1em;
     
     
     
 }
 .fa-child-reaching{
    position: absolute;
    margin-left: 20em;
    margin-top: -0em;
    width: 11em;
    height: 42px;
     
   
 }
 .fa-child-reaching::before{
    margin-left: -2.5em;
    margin-top: -0.8em;
     
    position: absolute;
     
     
 }
 
 .fa-heart{
    position: absolute;
    margin-top: 8em;
    margin-left:-2em;
    width: 17em;
    height: 4em;
    
    
     
 }
 .fa-heart::before{
    margin-left: -4em;
    margin-top: -0.7em;
    
    position: absolute;
 }
 .fa-dog{
    margin-top: 16em;
    width: 23em;
    height: 4em;
    padding-top: 2em;
    position: absolute; 
    margin-left:  -2em;
    
   
 }
 .fa-dog::before{
    position: absolute;
    margin-left: -11.7em;
    margin-top: -2em;
     
    
 }
 .fa-dog a{
    display: block;
    margin-top: -1em;
    padding-left: 17px;
     
 }
 .filtrer{
     width: 40%;
     height: auto;
     margin-left: 2.5em;
      
  
 }
  
 /* la phrase de description*/
 .phrase-infor{
    width: 70%;
    margin-top: -0.8em;
    font-size: 24px;
    margin-right: 6.7em;
    text-align: left;
    
     
     
   
 }
  #info {
      width: 40px;
      height: 40px;
      border: 2px solid #D3D3D3;
      border-radius: 50px;
      padding: 5px;
       
       
       
  }
  .fa-info::before{
    padding-bottom: 0em;
    
  }
 .fa-circle-info{
    margin-left: 2.2em;
   
 }
 .paragrahe{
     
    margin-left: 19em;
    margin-top: 4em;
    
     
   
 }
 .prix{
    margin-left: 19.4em;
     
  
     
     
     
     
     
 }
 

 /*aside*/
 aside{
    width: 100%; 
    height: 50em;
    margin-left: 0em;
    margin-top: 2em;
      
     
    
   
 }
 aside h2 {
    margin-left: 3.5em;
     
     
   
     
 }
 .info1 img{
    width: 300px;
    height: 200px;
 }
 .description_aside1{
    width: 90%;
    margin-left: 4em;
    
     
    
 }
 .description_aside2{
    width: 98%;
    margin-left: 0em;
     
 }
 .description_aside3{
    width: 98%;
    margin-left: 0em;
    
 }
 .info1 h4{
    font-size: 24px;
    margin-right: 2em;
    text-align: left;
     
   
 }
 #etoile_populaire i::before {
     
     margin-left: 23em;
      
 

 }
  .description_aside1 i {
     margin-left: -0em;
     width:16% ;
    
     
    


  }
  .etoile{
    margin-left: 19.5em;
    width: 18%;
    margin-top: 10.9em;
     
     
    
   
    

  }
  .une_etoile {
      width: 10%;
      margin-left: 1em;
       




  }
  
  
 .info1 strong {
     margin-top: 4em;
     
     width: 16em;
     
    
     


 }
 .euro1 {
     font-weight: bold;
     position: absolute;
     margin-left: 20.5em;
     


 }
 .euro2 {
     font-weight: bold;
     position: absolute;
     margin-left: 20.2em;


 }
  .euro {
      font-weight: bold;
      position: absolute;
      margin-left: 20.4em;
       





  }
 

 /*hébergement*/
 #hebergement{
    width: 106%;
    margin-top:54em;
    padding-bottom: 2em;
    margin-left: 0.3em;
    background-color: #fff;
     
   
     
   
 }
 #hebergement h2{
    width: auto;
    margin-left: 4em;
    margin-top: -0em;
    font-size: 20px;
    
     
   
     
     
     
 }
 
 .description1{
    width: 78%;
    height: 22em;
    margin-left: -0.9em;
    padding-bottom: 9em;
    border: 1px solid #fff;
    margin-top: 3em;
    box-shadow: inset 0 0 2em #F2F2F2, 0 0 2em #D3D3D3;
    
    
    
     
 }
 .id_description img{
    margin-left: 0.4em;
     
 }
 
 
.id_description{
    width: 390px;
    height: 100px;
  
}
.id_description h4{
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
     
   
}
.nos_prix{
     margin-right: 15.8em;
      
      
      
     
}
strong{
    margin-right: 6em;
    display: block;
    margin-top: -1.2em;
  
}
 .important {
     font-weight: bold;
     margin-left: 2em;
      

 }
.mes_prix{
    margin-left: 1em;
    
     
}
 
.id_description i{
     
    width: 10%;
    margin-top: -3em;
  
}
.nos_etoiles{
   width: 50%;
    margin-left: 1em;
    margin-top: 3em;
  
}
.une_etoile{
     width: 117%; 
     margin-left: 0em;
     
 
}
.le_meilleur{
    width: 41%;
    margin-left: 1em;
    margin-top: 3em;
  
    
}
 
 
 
.id_description img{
    width: 547px;
    height: 250px;
    margin-right: 10em;
     
     
    
}
/* la phrase afficher*/
#afficher{
    font-size: 20px;
    margin-top: 2em;
    margin-left: 4.2em;
    width: 20%;
   
    
     
}
 

/*les activités*/
#activites{
    width: 108%;
    
    display: block;
    margin-top: -1.7em;
    padding-bottom: 72em;
    margin-left: 0.1em;
    
     
   
     
}
#activites h2{
    width: 50%;
    font-size: 20px;
    margin-left: 4.5em;
     
  
}
#activites p{
    margin-right: 5em;
     
}
.image_large1{
     width: 76%;
     height: 90%;
     margin-top: 4em;
     margin-left: 5.5em;
     
 
}
.image_large1 p{
    margin-left: -0.92em;
    width: 97.7%;
    margin-top: -0.6em;
    font-size: 18px;
     
  
}
 
.image_large1 img{
    width: 547px;
    height: 250px;
    margin-left: -3em;
    margin-top: 10px;
     
     
}
.image img{
    width: 547px;
    height: 250px;
    margin-top: 10px;
    margin-left: -0.6em;
        

}
 
 
.image_petite1{
    width: 80%;
    height: 45%;
    margin-top: 1em;
    margin-left: 4.5em;
     
    
    
 
}
.image_petite1 p{
    width: 96.9%;
    margin-left: 0.2em;
    margin-top: -0.3em;
    font-size: 18px;
    
     
 
}
#image_lage2{
    width: 80%;
    margin-top: 42em;
    margin-left: 4.5em;
     
    
     
  
}
#image_lage2 img {
    width: 547px;
    height: 250px;
    margin-top: 10px;
    margin-left: -0.8em;

}
#image_lage2 p{
    margin-left: 0.1em;
    width: 96.9%;
    font-size: 18px;
     
 
}
.image_petite2{
    width: 85%;
    margin-top: 63em;
    margin-left: 3.3em;
     
    
    
  
     
}
.image_petite2 p{
    margin-left: 1.3em;
    width: 90.9%;
    margin-top: -0.4em;
    font-size: 18px;
     
   
     
}
/*footer*/
footer{
    width: 96%;
    height: 30em;
    display: block;
    margin-left: 0em;
    margin-top: 34em;
   
 
}
 
#apropos{
    width:  60%;
    margin-left: 5em;
    margin-top: 2em;
     
    
     
      
}
#apropos h2{
    text-align: left;
    font-size: 20px;
}
 #apropos a{
     
    text-align: left;
    font-size: 18px;
} 
#nos_hebergement{
    width: 60%;
    margin-left: 5em;
    margin-top: 2em;
   
    
}
#nos_hebergement h2{
    margin-left: -13em;
    font-size: 20px;
}
#nos_hebergement a {
    margin-right: 10em;
    text-align: left;
    font-size: 18px;
 
}
#assistance{
    width: 60%;
    margin-left: 5em;
    margin-top: 2em;
    
    
}
#assistance h2{
 
margin-left: -15.5em;
font-size: 20px;
}
 #assistance a{
    text-align: left;
    margin-left: 0em;
    font-size: 18px;
} 