#my_body{
    width: 165%;
     text-align: center;
     margin-left: 0.2em;
     
    
    
}
/* header*/
header{
     
    width: auto;
    
}
/*navbar*/
nav{
    width: 105%;
    height: 70%;
    margin-left: 0em;
    
    
         
     
}
/*logo image*/
#logo{
    display: block;
    margin-left: 10em;
    
     
    
     
}
#logo img{
     margin: auto;
     padding-bottom: 1em;
     margin-left: 12em;
     font-size: 2px;
      
   
}
/*element de la bare de navigation*/
 #logo ul{
    width: 54.7%;
    text-align: center;
     margin-left: -26em;
      
    
     
    
     

     
 }
 ul li a{
     font-size: 15px;
    padding: 20px;
    margin-left: 0em;
     
     
   
     
 }
 .souligner:hover{
    border-bottom: 1px solid;
     
 }
 /* le titre ou le slogan du site*/
#nav_title{
    width: auto;
    margin-left: 0em;
     
      
    /*background-color: green;*/
}
  
#nav_title h2{
    width: auto;
    font-size: 24px;
   margin-left: 1em; 
    
   position: relative;
    
 
   
    
     
}
#nav_title p{
    font-size: 15px;
    width: 90%;
    margin-left: 2.4em;
    margin-top: 7em;
    position: absolute;
     
    
     
  

}
 /* la de la géolocalisation*/
 form{
    width:auto ;
     
      
    
 }
  
 #label{
    margin-right: 10em;
    
     
 }
 .localisation{
    width:  60%;
    margin-right: 20em;
    margin-top: 3em;
     
     
 }
 .recherche{
    border-radius: 10px 50px 50px 10px;
        padding-right: 8px;
    display: none;  
      

    
 }
 .recherch{
     border: none;
        padding-left: 6em;
        margin-top: -1.7em;
        display:inherit ;
 }
 .recherch i{
    padding: 6px;

     background-color: blue;
    border-radius: 10px 10px 10px 10px;
    color: white;
 }
  
 #id_filtre{
     position: relative;
    height: 25px;
    margin-top: 0em;
    margin-left: -0.5em;
     
    
 }
  
 .filtre-economique{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 87%;
    height: auto;
    margin-top: 30px;
     text-align: left;
      
     
    
    
 }
  
 .fa-money-bill-wave{
      position: relative;
    margin-right: 25em;
     width: 25%;
    border-width: 2px 4px;
        border: 1px solid rgb(0, 0, 0, 2.5px, #F2F2F2);
        border-radius: 40px 40px 40px 40px;
   
    
 }
 .fa-person{
    position: absolute;
    margin-left: 18em;
    margin-top: -0em;
     
     
     
 }
 
 .fa-heart{
    position: absolute;
    margin-top: 5em;
    margin-left:1em;
    
 }
 .fa-dog{
    margin-top: 7em;
    margin-right: 40em;
    padding-left: 1em;
     
    
      
 }
 .fa-dog::before{
    margin-right: 20em;
 }
 .fa-dog a{
     
    display: block;
    margin-top: -1em;
    padding-left: 17px;
     
 }
 .filtrer{
     width: 40%;
     height: auto;
     margin-left: 2.5em;
      
  
 }
  
 /* la phrase de description*/
 .phrase-infor{
     
    margin-top: 16.5em;
    font-size: 10px;
    margin-right: 29em;
   
     
     
    
 }
 .paragrahe{
    padding-left: 19.6px;
     
 }
 .prix{
    padding-left: 2px;
     
 }
 .fa-info{
    margin-right: 1em;
    
 }
 /*aside*/
 aside{
    width: 94.9%; 
    margin-left: 0.3em;
    margin-top: 2em;
   
 }
 .description_aside1{
    width: 98%;
    margin-left: 0em;
    
 }
 .description_aside2{
    width: 98%;
    margin-left: 0em;
     
 }
 .description_aside3{
    width: 98%;
        margin-left: 0em;
    
 }
 .info1 h4{
    font-size: 15px;
    margin-right: 2em;
     
 }
 

 /*hébergement*/
 #hebergement{
    width: 64%;
    margin-top:35em;
    padding-bottom: 2em;
    margin-left: 0.3em;
  
     
    
     
 }
 #hebergement h2{
    width: auto;
    margin-left: 2.5em;
     
     
 }
 
 .description1{
    width: 99%;
    margin-left: 0.2em;
    padding-bottom: 9em;
    
   
     
     
     
 }
.description2{
    width: 93%;
    height: 23.1%;
    margin-left: 0.2em;
    margin-top: 1.5em;
     
    
    
}
.description3{
    width: 93%;
    height: 23%;
    margin-top: 18.1em;
    margin-left: 0.2em;
    
     
    
}
.description4{
    width: 93%;
    height: 23%;
    position:absolute;
    margin-left: 0.2em;
    margin-top: 35em;
   
   
     
     
}
.description5{
    width: 93%;
    height: 23%;
    margin-top: 51.5em;
    margin-left: 0.2em;
    
     
     
}
.description6{
    width: 93%;
    height: 23%;
    margin-top: 68em;
    margin-left: 0.2em;
     
    
  
}
/*le recadrement des images*/
.id_description{
    width: 390px;
    height: 100px;
    
     
}
.id_description h4{
    font-size: 17px;
    text-align: left;
    margin-left: 10px;
     
}
.nos_prix{
     margin-right: 15.4em;
     
}
strong{
    margin-right: 5em;
    display: block;
    margin-top: -1.1em;
      
}
.id_description i{
     position: relative;
    margin-right: 4em;
    line-height: 1px;
    margin-top: -3em;
     
    
}
 
.id_description img{
    width: 320px;
    height: 150px;
    margin-right: 3em;
     
     
    
}
/* la phrase afficher*/
#afficher{
    font-size: 30px;
    margin-top: 1em;
    margin-left: 2em;
}
 

/*les activités*/
#activites{
    width: 64.6%;
    display: block;
    margin-top: 2em;
    padding-bottom: 72em;
    margin-left: 0.3em;
     
  
    
     
     
}
#activites h2{
    width: 80%;
    font-size: 20px;
    margin-left: 1.5em;
     
     
     
     
}
#activites p{
    margin-right: 5em;
     
}
.image_large1{
     width: 76%;
     height: 90%;
     margin-top: 5em;
     margin-left: 2em;
     
  
     
}
.image_large1 p{
    margin-left: 5em;
}
/* les images des activités*/
.image_large1 img{
    width: 350px;
    height: 150px;
     margin-left: -2.4em;
    margin-top: 10px;
     
}
.image img{
    width: 340px;
        height: 150px;
        margin-top: 10px;
        margin-left: -4em;

}
#image_lage2 img{
    width: 340px;
    height: 150px;
    margin-top: 10px;
    margin-left:-3.8em ;

}
.image2_petite img{
    width: 350px;
        height: 150px;
        margin-top: 10px;
        margin-right: 50px;
}
.image_petite1{
    width: 96%;
    height: 45%;
     margin-top: 1.5em;
     margin-left: 2em;
  
     
     
}
#image_lage2{
    width: 96%;
    margin-top: 29.5em;
    margin-left: 2em;
     
    
    
}
.image_petite2{
    width: 95%;
    margin-top: 45.4em;
    margin-left: 2em;
   
    
     
}
/*footer*/
footer{
    width: 60%;
    display: block;
    margin-left: 0em;
    margin-top: 1em;
     
  
     
}
 
#apropos{
    width: auto;
    margin-right: 10em;
      
}
#apropos h2{
     text-align: center;
     font-size: 10px;
}
 #apropos a{
     
    text-align: left;
    margin-left: 7em;
    font-size: 5px;
} 
#nos_hebergement{
    width: auto;
    margin-right: 10em;
}
#nos_hebergement h2{
    text-align: center;
    margin-left: 7em;
    font-size: 10px;
}
#nos_hebergement a {
    text-align: left;
    margin-left: 15em;
    font-size: 5px;
    
    
}
#assistance{
    width: auto;
    margin-right: 10em;
}
#assistance h2{
text-align: center;
margin-left: 6em;
font-size: 10px;
}
 #assistance a{
    text-align: left;
    margin-left: 13em;
    font-size: 5px;
} 